<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/scrollify.js"></script>
    <script src="/vendor/anime.js"></script>
    <script src="/scripts/app.js" defer></script>
    <link rel="stylesheet" href="styles/main.css" />
    <title>Dalton Hart</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li class="current nav__item" data-number="1">Landing</li>
        <li class="nav__item" data-number="2">About</li>
        <li class="nav__item" data-number="3">Projects</li>
        <li class="nav__item" data-number="4">Resume</li>
      </ul>
    </div>
    <div class="full-page landing">landing</div>
    <div class="full-page about">about</div>
    <div class="full-page projects">projects</div>
    <div class="full-page resume">resume</div>
  </body>
</html>
